<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <title>My Rocket App</title>
</head>

<body class="bg-gray-100">
    <h1>Hello</h1>
    <h1 class="text-2xl font-bold">Hello, Rocket with Askama, and TailwindCSS!</h1>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
        Button
    </button>
</body>

</html>